{% from 'utils/code_block.html' import code_block %}
{% from 'utils/content_table.html' import table %}
<h1 id="theory">Немного теории</h1>
<p>В системе контроля версий git у файла есть три состояния:<p>
<ol>
    <li>Измененный</li>
    <li>Внесенный в индекс</li>
    <li>Зафиксированный</li>
</ol>
<p>Подробнее о каждом: предположим, вы сейчас находитесь в моменте времени, когда ваш репозиторий не изменялся с последнего коммита. Все ваши файлы находятся в 3 состоянии.
 Однако если вы измените файл, он перейдет в 1 состояние. Но если закомитить сейчас, то изменения не войдут в коммит. Для того чтобы это исправить, надо добавить файл в индекс. Индекс это определенный
файл, в котором записаны файлы, включенные в следующий коммит.</p>
<p>Также файлы можно разделить на отслеживаемые и не отслеживаемые. Гит будет отслеживать файл если он есть в последнем коммите (HEAD) или файл включен в индекс.</p>

<h1 id="steps">Шаги управления репозиторием гит</h1>
<h2 id="init">Инициализация</h2>
<p>Для того чтобы директория считалась гит репозиторием, надо выполнить команду</p>
{{code_block("git init")}}
<p>Эта команда создаст поддиректорию <code>.git</code> в вашей директории. После этого необходимо добавить ваши файлы в индекс. Для этого выполните команду</p>
{{ code_block("git add .") }}
<p>Теперь можно коммитить изменения: выполните команду</p>
{{ code_block('git commit -m "message"') }}
<p>Где в message опишите, какова причина коммита</p>

<h2 id="managing">Управление</h2>
<p>Теперь про управление репозиторием: команды для добавления файлов в индекс и коммита изменений остаются теми же: <code>git add <i>file</i></code> и <code>git commit -m "message"</code></p>
<ul>
    <li>Для просмотра состояния репозитория (что было изменено, что проиндексировано итп) выполните <code>git status</code>. Для более подробной информации можете использовать <code>git diff</code></li>
    <li>Чтобы вернуть измененный файл к его первоначальному состоянию выполните <code>git restore <i>file</i></code></li>
    <li>Чтобы удалить файл из индекса выполните <code>git restore --staged <i>file</i></code></li>
    <li>Чтобы слить текущий и последний коммиты выполните <code>git commit --amend</code>. Это откроет редактор, в котором вы можете изменить сообщения коммита</li>
    <li>Чтобы удалить файл из индекса выполните <code>git rm --cached <i>file</i></code>. Если нужно в том числе удалить его с диска, выполните <code>git rm <i>file</i> (может потребоваться
    параметр -f если файл уже в индексе)</code></li>
    <li>Для просмотра истории изменений выполните <code>git log</code></li>
    <li>Для слияния изменений, полученных с сервера и локальной ветки выполните <code>git merge</code>. Git попытается слить изменения автоматически, если у него не получится, то вам придется
    вручную отредактировать конфликты, добавить файлы в индекс и закоммитить. Но это сработает только если к ветке привязана удаленная ветка</li>
</ul>

<h2 id="remote">Управление удаленными репозиториями</h2>
<ul>
    <li>Для добавления удаленного репозитория выполните команду <code>git remote add <i>shortname</i> <i>url</i></code></li>
    <li>Для удаления удаленного репозитория выполните <code>git remote remove <i>shortname</i></code></li>
    <li>Для переименования удаленного репозитория выполните <code>git rename <i>old_shortname</i> <i>new_shortname</i></code></li>
    <li>Для получения изменений выполните <code>git fetch</code></li>
    <li>Для отправки изменений выполните <code>git push <i>shortname</i> <i>branch</i></code>. Для того чтобы ваш push не был отклонен, у вас должна быть актуальная версия удаленного репозитория</li>
    <li>Для просмотра информации об удаленном репозитории выполните <code>git remote show -vv</code>. Флаги -vv могут быть опущены, если вы хотите меньше информации</li>
</ul>
<h2 id="branches">Управление ветвлением</h2>
<p>Немного теории: ветка это просто указатель на определенный коммит. У гита есть особый указатель: <b>HEAD</b>, он указывает на текущее состояние проекта и указывает на последний коммит ветки,
в которой мы сейчас находимся. Если сменить ветку, то HEAD перейдет на указатель, который соответствует новой ветке.</p>
<p>Для отправки изменений на удаленный сервер нужно выполнить команду <code>git push <i>remote</i> <i>branch</i></code>. Но если мы привяжем локальную ветку к удаленной (как это сделать смотри ниже),
то можно будет просто выполнять <code>git push</code></p>
<ol>
    <li>Чтобы создать новую ветку выполните <code>git branch <i>branch_name</i></code></li>
    <li>Чтобы переключится на определенную ветку используйте <code>git checkout <i>branch_name</i></code></li>
    <li>Чтобы слить одну ветку в другую используйте <code>git merge <i>branch_name</i></code>. Git попытается слить вашу текущую ветку и новую ветку. Если все пройдет успешно,
        то останется только закоммитить изменения. Если же возникнут конфликты, то будет необходимо вручную решить их, изменив файлы. Затем файлы с конфликтами нужно будет добавить в индекс
    и закоммитить.</li>
    <li>Для удаления ветки выполните <code>git branch -d <i>branch_name</i></code></li>
    <li>Чтобы посмотреть информацию о ветках выполните <code>git branch -vv</code>. Флаги -vv выводят больше информации</li>
    <li>Для переименовывания ветки выполните <code>git branch --move <i>old_name</i> <i>new_name</i></code></li>
    <li>Для отправления ветки на удаленный репозиторий выполните <code>git push <i>remote_name</i> <i>branch</i></code></li>
    <li>Для привязывания ветки к удаленному репозиторию выполните <code>git branch --set-upstream-to=/<i>remote</i>/<i>branch</i></code></li>
</ol>
<h1 id="cheatsheet">Шпаргалка по командам</h1>
{{ table(cheatsheet) }}