<ul class="navul">
	{% for header_block in navbar.get_headers() %}
	<li>
		{% if header_block.get_header().has_link() %}
		<a href="{{ url_for(header_block.get_header().link) }}">{{ header_block.get_header().name }}  &#9662</a>
		{% else %}
		{{ header_block.get_header().name }}  &#9662
		{% endif %}
		{% if header_block.has_pages() %}
		<ul class="dropdown">
			{% for elem in header_block.get_pages() %}
			{% if elem.has_link() %}
			{{ elem.link | pprint }}
			<li><a href="{{ url_for(elem.link) }}">{{ elem.name }}</a></li>
			{% else %}
			<li>{{ elem.name }}</li>
			{% endif %}
			{% endfor %}
		</ul>
		{% endif %}
	</li>
	{% endfor %}
</ul>