<!DOCTYPE html>
{% from 'utils/content_table.html' import table with context %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% for style in page.styles %}
    <link href="{{ url_for('static', filename='styles' + style) }}" rel="stylesheet">
    {% endfor %}
    <title>{{ page.name }}</title>
</head>
<body>
{% include 'utils/nav_bar.html' %}
{% if page.extra is string %}
<p class="extra_p"> {{ page.extra | safe }} </p>
{% elif page.extra %}
{{ table(page.extra) }}
{% endif %}
{{ table(page.content) }}
</body>
</html>