{% from 'utils/code_block.html' import code_block %}
{% from 'utils/content_table.html' import table %}

<h1 id="pure_xml">Правка чистого xml</h1>
<p>Иногда бывают ситуации, когда написанного апи не хватает, тогда необходимо править xml самого документа</p>
<h2 id="get_xml_obj">Получение lxml объекта</h2>
<p><b>lxml объект</b> — внутренний объект python-docx, с которым мы работаем как с xml (добавляем теги, ищем итп). Его можно получить
   вызвав параметр <code>._element</code> у объекта, имеющего xml</p>
<p>Пример</p>
{{ code_block('doc = Document("input.docx")
p = doc.paragraphs[0]
xml = p._element') }}
<p><b>Замечание:</b> <code>._element</code> это общий синтаксис, у некоторых объектов есть специальные свойства, возвращающие по сути то же самое,
  но уже специализированное, это удобно для написания кода конкретно под какой-то объект
  (_element не обязательно имеет tblPr а вот _tbl точно имеет)</p>
<p>Некоторые такие элементы:</p>
<ul>
  <li><code>._tbl</code> у таблиц</li>
  <li><code>._p</code> у параграфов</li>
  <li><code>._r</code> у прогонов</li>
  <li><code>._tc</code> у ячеек</li>
</ul>

<h2 id="actions_with_xml_obj">Действия с xml объектом</h2>
<ul>
  <li>Назначить свойство:
  <p>Общий синтаксис: <code>lxml.set(attr, value)</code>. На практике всегда нужно добавлять <code>qn("w:attr")</code> для корректной валидации свойства</p>
    {{ code_block(set_attr) }}
  </li>
  <li>
    Добавить дочерний объект
    <p>Для начала его нужно создать; это делается через объект <code>OxmlElement</code>, затем мы добавляем наш объект в родителя через <code>append</code> или <code>insert</code></p>
    {{ code_block(append_elem) }}
  </li>
  <li>
    Найти первый дочерний
    {{ code_block(find_first) }}
  </li>
</ul>

<h2 id="some_xmls">Некоторые полезные xml объекты</h2>
<p>У специализированных lxml объектов (например, ._tbl) есть свойства, такие же lxml объекты, к которым обращение идет особенно часто. По сути, эти же объекты мы можем получить,
  используя ._element и затем find(), но через внутренне апи лучше, так как это удобно и уже все за нас написали че выебываться</p>
<p>Примеры таких объектов:</p>

