<!DOCTYPE html>
{% from 'content_table.html' import table %}
{% from 'chapter_list.html' import chapter_list %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for style in instruction.styles %}
    <link rel="stylesheet" type="text/css" href="{{ style }}">
    {% endfor %}
    <title>{{ instruction.name }}</title>
</head>
<body>
{% include 'nav_bar.html' %}
<h1>{{ instruction.name }}</h1>
{{ chapter_list(instruction.chapter_list) }}
<div class="content">
  {% for elem in instruction.content %}
    {% if elem.type == table %}
    {{ table(elem.content) }}
    {% elif elem.type == 'open_p' %}
    <p>
    {% elif elem.type == 'close_p' %}
    </p>
    {% elif elem.type == 'plain_text' %}
    {{ elem.content }}
    {% elif elem.type == 'open_ol' %}
    <ol>
    {% elif elem.type == 'end_ol' %}
    </ol>
    {% elif elem.type == 'a' %}
    <a href="{{ elem.content[1] }}">{{ elem.content[0] }}</a>
    {% elif elem.type == 'open_ul' %}
    <ul>
    {% elif elem.type == 'end_ul' %}
    </ul>
    {% elif elem.type == 'li' %}
    <li>{{ elem.content }}</li>
    {% elif elem.type == 'code' %}
    <div class="code_block">
        <pre>{{ elem.content }}</pre>
    </div>
    {% elif 'h' in elem.type %}
    <{{ elem.type }} id="{{ elem.content[1] }}">{{ elem.content[0] }}</{{ elem.type }}>
    {% endif %}
  {% endfor %}
</div>
</body>
</html>