<!DOCTYPE html>
{% from 'content_table.html' import table %}
{% from 'chapter_list.html' import chapter_list %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for style in instruction.styles %}
    <link rel="stylesheet" type="text/css" href="{{ style }}">
    {% endfor %}
    <title>{{ instruction.name }}</title>
</head>
<body>
{% include 'nav_bar.html' %}
<h1>{{ instruction.name }}</h1>
{{ chapter_list(instruction.chapter_list) }}
<div class="content">
  {% include instruction.content %}
</div>
</body>
</html>