{% from 'code_block.html' import code_block %}
{% from 'content_table.html' import table %}
<h2 id="basics">Основные положения</h2>
<p>В этой статье не будет объяснен jinja api, тут будет сказано, как писать шаблоны, а также как их рендерить.
  Про апи можно почитать в официальной документации: <a href="https://jinja.palletsprojects.com/en/stable/">jinja</a></p>
<p>Как работает jinja: есть html документ, в котором записан html костяк документа. Кроме того, в нем записаны jinja элементы.
  При рендере jinja выражения заменяются переданными значениями, и генерируется чистый html код</p>
<p>Простой пример:</p>
{{ code_block(html_jinja_example) }}
{{ code_block(python_jinja) }}
{{ code_block(ready_html) }}
<p>Возможные jinja элементы:</p>
{% raw %}
<ul>
  <li>{{ переменная }}</li>
  <li>{% выражение %}</li>
  <li>{# коммент #}</li>
</ul>
{% endraw %}
<h2 id="vars">Переменные</h2>
<p>Для того, чтобы задать простую переменную, нужно использовать такой <code>{{ '{{' }} ваша переменная {{ '}}' }}</code> синтаксис.
Если нужно взять какой-либо из атрибутов переменной, можно использовать как точку, так и скобки ([]).
  Да и вообще в целом, jinja элементы поддерживают базовый синтаксис питона,
  поэтому в скобках можно писать при помощи обычного синтаксиса питон.</p>
<h2 id="filters">Фильтры</h2>
<p>На момент написания статьи не пользовался ими, но это что-то вроде map`а в питоне. Они отделяются друг от друга символом '|' ,причем результат одного фильра может передаваться в другой.</p>
<p><a href="https://jinja.palletsprojects.com/en/stable/templates/#builtin-filters">Встроенные фильтры</a></p>
{{ code_block(filter_ex) }}
<h2 id="tests">Тесты</h2>
<p>Проверяют переменную на условие. Для использования нужно использовать <code>is</code></p>
<p><a href="https://jinja.palletsprojects.com/en/stable/templates/#builtin-tests">Встроенные тесты</a></p>
<p>Синтаксис:</p>
{{ code_block(tests) }}
<h2 id="whitespaces">Пробелы</h2>
<p>Там полностью непонятная хуйня с этими пробелами, я так и не разобрался, как они удаляются. Вроде как их можно удалять вручную, если поставить знак минусы в конце или начале блока:</p>
{{ code_block(whitespaces1) }}
<p>Но я бы посоветовал много не выебываться и поставить значения:</p>
<ul>
  <li>env.lstrip_blocks = True: вроде удаляет лишние пробелы в начале строки</li>
  <li>env.trim_blocks = True: вроде удаляет пробелы после тега</li>
</ul>
<p>Так вроде бы работает, за более подробными объяснениями можно пойти <a href="https://jinja.palletsprojects.com/en/stable/templates/#whitespace-control">нахуй.</a></p>
<h2 id="escaping">Экранирование jinja</h2>
{% raw %}
<p>Самый простой способ экранировать: <code>{{ '{{' }}</code></p>
{% endraw %}
<p>Способ, как экранировать блок кода:</p>
{{ code_block(escaping) }}
<h2 id="inheritance">Наследование шаблонов</h2>
<p>В документации написано, что это самая пиздатая часть jinja, но мб я еблан.
  Я ей ни разу не пользовался, а все, что можно было сделать с помощью наследования, сделал
с помощью macro</p>
{% raw %}
<p>Основной прикол: в родительском шаблоне пишем <code>{% block block_name %}some content here{% endblock %}</code></p>
<p>В дочернем шаблоне: <code>{% extends "parent.html" %}</code>
  (это чтобы понятно было, от кого наследуемся), а дальше переопределяем block_name
  с помощью такого же синтаксиса: <code>{% block block_name %}{{ super () }} some content here{% endblock %}</code></p>
<p>Здесь, понятно, выражение {{ super() }} может быть опущено,
  если мы его указываем, то будет использован контент из родительского блока.</p>
{% endraw %}
<p>Пример:</p>
{{ code_block(parent_templ) }}
{{ code_block(child_templ) }}
<p>Сгенерированный child.html:</p>
{{ code_block(child_ready) }}
<p>Примечание: после endblock можно указывать имя оканчивающегося блока, но это вроде ни на
что не повлияет, просто для улучшения читабельности.</p>
<h2 id="html_escaping">Html escaping</h2>
{% raw %}
<ul>
  <li>{{ var|e }}: переменная var экранирована</li>
  <li>{{ var|safe }} переменная var помечена как безопасная, она не будет экранироваться</li>
</ul>
{% endraw %}
<p>Это если экранировать в самом документе, так то это настраивается в environment объекте</p>
<h2 id="expr">Выражения</h2>
<h3 id="for">For</h3>
<p>Пример:</p>
{{ code_block(for) }}
{% raw %}
<p>Можно использовать блок {% else %}, который будет вызываться, если по какой-либо причине
цикл не будет выполнен ни разу.</p>
{% endraw %}
{{ code_block(for_else) }}
<p>Кроме того, можно использовать for рекурсивно. Для этого нужно указать ключевое слово
recursive</p>
{{ code_block(recursive) }}
<p>Так реализовано содержание на этом сайте</p>
<p>Внутри for`a доступны некоторые переменные, <a href="https://jinja.palletsprojects.com/en/stable/templates/#for">подробнее</a></p>
<h3 id="if">If</h3>
<p>Не сильно отличается от питона:</p>
{{ code_block(if) }}
<h3 id="macro">Macro</h3>
<p>Аналог функций в питоне</p>
{{ code_block(macro) }}
<p>Для того, чтобы использовать макро в шаблоне, нужно его импортировать: <code>{{ '{%' }} from 'macro.html' import macro {{ '%}' }}</code> или <code>{{ '{%' }}  import 'macro.html' as mc</code> <code>mc.macro</code></p>
{{ code_block(macro_use) }}
<p>Результат:</p>
{{ code_block(macro_res) }}
<p>Импортированный макро не будет видеть переменные документа, куда его импортировали, но это можно изменить при помощи ключевого слова with context</p>
<p>кроме того, макро можно вызывать сразу же после создания, но я этим не пользовался, подробнее
  <a href="https://jinja.palletsprojects.com/en/stable/templates/#call">здесь</a></p>
<h3 id="assignment">Определение переменных</h3>
<p>Внутри шаблона можно определять переменные: <code>{{ '{%' }} set situation = 'zaebis' {{ '%}' }}</code></p>
<p>А также целый блоки:</p>
{{ code_block(block_assign) }}
<h3 id="include">Include</h3>
<p>Позволяет добавить на страницу html другого источника:
  <code>{{ '{%' }} include 'smth.html' {{ '%}' }}</code></p>
<p>Таким образом можно добавлять шаблоны. Причем у добавленного шаблона будет та же область видимости, (можно изменить, если
  использовать without context) те если
для его рендеринга нужны какие-то переменные, их можно указать при рендеринге родителя </p>