{% from 'utils/code_block.html' import code_block %}
{% from 'utils/content_table.html' import table %}
<p>Apt — программа для установки, апгрейда, удаления и прочей хуйни для пакетов в ос debian</p>
<h1 id="sources">sources.list</h1>
<p>Для того, чтобы apt знал, откуда устанавливать пакеты, ему нужно указать репозитории в файле sources.list.
По дефолту этот файл лежит в /etc/apt</p>
<p>Как записывать репозитории:</p>
<code>deb ссылка_на_репозиторий релиз_дебиана контент</code>
<p>Виды контента</p>
<ul>
    <li>main: основные по</li>
    <li>contrilb: свободные по, но их зависимости могут быть несвободными</li>
    <li>non-free: содержит несвободные пакеты</li>
    <li>non-free-firmware: предоставляет несвободное по, необходимое для некоторых аппаратных средств</li>
</ul>
<p>Пример файла для 12 дебиана:</p>
{{ code_block(sources) }}
<h1 id="commands">Команды</h1>
<p><b>NB: здесь не все команды, для полного списка читай man</b></p>
{{ table(commands_table) }}
