{% from 'code_block.html' import code_block %}
{% from 'content_table.html' import table %}
<h2 id="main">Где писать и подключать стили</h2>
<p>Css — язык разметки, определяющий стили в документах html. Обычно стили прописываются в отдельном документе с расширением .css. Для того чтобы использовать стили из .css файла, его нужно подключить в &lt;head&gt;&lt;/head&gt;</p>
{{ code_block('&lt;link rel="stylesheet" type="text/css" href="ссылка на файл"&gt;') }}
<p>Конечно, можно еще прописывать стили в самом .html файле (это как то делается в &lt;head&gt;&lt;/head&gt;) или в атрибуте style тега:</p>
{{ code_block('&lt;div style="margin-top: 20px;"&gt;Этот div отстоит от границ верхнего элемента на 20 пикселей&lt;/div&gt;') }}
<p>но лучше это делать в отдельном документе.</p>
<h2 id="how">Как писать стили в .css</h2>
<p>Общий вид:</p>
{{ code_block(css_info) }}
<p>Как можно задать селектор:</p>
<ul>
    <li>Через упоминание тега. Таким образом, мы зададим стили для всех тегов в документах, к которым подключим файл:</li>
    {{ code_block(tag) }}
    <p>Теперь у всех заголовков 2 уровня будет шрифт for_captions 35 кегля</p>
    <li>Через классы. Для этого надо задать имя класса, например, .my_class, а затем в тегах, в которых хотим использовать стиль my_class, указать его в атрибуте class:</li>
    {{ code_block(class) }}
    {{ code_block('&lt;div class="my_class"&gt;У этого div`a будет сплошной черный бордер шириной 3 пикселя&lt;/div&gt;') }}
</ul>
<h2 id="useful">Некоторые полезные свойства</h2>
{{ table(useful) }}
<h2 id="pseudo">Псевдоклассы и псевдоэлементы</h2>
<p>Хуй его знает, не шарю за эту тему, но надо бы узнать. Пример псевдокласса:</p>
{{ code_block('th:first-child') }}
<p>Такой селектор позволяет установить стиль для первого дочернего элемента тега th</p>