{% from '/utils/code_block.html' import code_block %}
{% from '/utils/content_table.html' import table %}
<p>
  Перед тем, как начать, определимся с некоторыми терминами:
</p>
<ul>
  <li>Тег — основная хуйня в html. Используется для разметки страниц</li>
  <li><a href="attributes.html">Атрибут тега</a> — хуйня, определяющая некоторые параметры тега. Существуют уникальные и общие атрибуты (пример общего: style, мы можем задать стили почти любому тегу)</li>
</ul>
<p>
  Ну вот теперь можно рассказывать. В общем и целом, обычно я формирую страницы с помощью div`ов и таблиц.
</p>
<h2 id="div">div</h2>
<p>Тег div — универсальная коробка для разметки страницы. Пример использования:</p>
{{ code_block(div_example) }}
{{ table(div_table) }}
<h2 id="table">table</h2>
<p>Тег table создает таблицу. В таблице важна иерархия различных элементов (типа там заголовки и прочая хуета) Пример использования:</p>
{{ code_block("<table></table>") }}
{{ table(table_attr) }}
{{ table(table_tags) }}
<h2 id="other_tags">Остальные теги</h2>
<p>Некоторые полезные теги</p>
{{ table(other_tags) }}
<h2 id="html_template">Шаблон html-документа</h2>
{{ code_block(html_template)}}