{% from 'utils/code_block.html' import code_block %}
{% from 'utils/content_table.html' import table %}

<h1 id="base_streams">Базовые потоки</h1>
<p>В java потоки делятся в основном на два типа:</p>
<ul>
  <li>байтовые: представлены абстрактными классами <code>InputStream</code> и <code>OutputStream</code></li>
  <li>символьные: представлены абстрактными классами <code>Reader</code> и <code>Writer</code></li>
</ul>
<p>Здесь мы будем рассматривать только работу с текстовыми файлами.</p>

<h1 id="file_streams">Файловые потоки</h1>
<p>Представлены классами <code>FileWriter</code> и <code>FileReader</code>.</p>
<p>Мы не будем пользоваться этими классами для ввода/вывода информации, м будем их передавать в качестве аргументов другим потокам/объектам</p>
<p>Для инициализации будем пользоваться такими конструкторами:</p>
<ul>
    <li><code>FileReader(String fileName)</code></li>
    <li><code>FileWriter(String fileName)</code>; можно указать второй аргумент true, тогда будет дозапись в файл</li>
</ul>

<h1 id="buffered_streams">Буферизованные потоки</h1>
<p>Буферизованные потоки не обращаются каждый раз к источнику для получения/записи информации. Вместо этого они записывают все в буфер.</p>
<p>Операции записи информации из буфера осуществляются при:</p>
<ul>
  <li>Переполнении буфера</li>
  <li>Закрытии потока</li>
  <li>Вызове метода потока <code>.flush()</code></li>
</ul>
<p>Буферизованный поток считывания считывает всю доступную информацию (доступную по размеру буфера) и дальше при операциях считывании берет инфу из буфера.
    Когда буфер заканчивается, поток вновь обращается к источнику</p>
 <p>В данном руководстве мы рассмотрим два буферизованных потока: <code>BufferedWriter</code> — буферизованный поток для записи текста и
 <code>BufferedReader</code> — буферизованный поток для считывания текста.</p>
<p>Они имеют следующие конструкторы:</p>
<ul>
  <li><code>Buffered[Reader, Writer]([Reader, Writer] [in, out])</code></li>
  <li><code>Buffered[Reader, Writer]([Reader, Writer] [in, out], int sz)</code>, где sz — размер буфера в символах, по умолчанию 8192</li>
</ul>
<p>Некоторые полезные методы буферизованных потоков:</p>
 {{ table(BufferedStreamsMethods) }}

<h1 id="reading">Чтение</h1>
<p>Для чтения из файла (или потока) используем объект Scanner, позволяющий удобно считывать различные типы данных, в который передадим FileReader:</p>
{{ code_block(Scanner) }}

<p>Или же если нам нужна производительность, но тогда придется пожертвовать удобством (сможем считывать только строки):</p>
{{ code_block(BufferedReader) }}

<h1 id="writing">Запись</h1>
<p>Для записи используем поток PrintWriter, в который передадим FileWriter:</p>
{{ code_block(PrintWriter) }}
<p>Для большей производительности можем обернуть FileWriter в BufferedWriter и затем буферизованный поток передать в PrintWriter</p>
<p>Некоторые полезные методы PrintWriter</p>
{{ table(PrintWriterMethods) }}
