{% from 'utils/code_block.html' import code_block %}
{% from 'utils/content_table.html' import table %}
<h1 id="variables">Переменные и константы</h1>
<p>Для создания переменной надо указать ее, затем присвоить ей значение</p>
{{ code_block(variables) }}
<p>Также можно создавать неизменяемые переменные, константы; для этого указываем final:</p>
{{ code_block(constants) }}
<p>Кроме того, можно автоматически присвоить тип переменной: <code>var x = 10; // теперь x будет int</code></p>
<h1 id="types">Базовые типы данных</h1>
<p>Для инициализации объекта базового типа данных не нужно указывать new, так как это примитив (т.е. не объект)</p>
<ul>
    <li>boolean</li>
    <li>byte: хранит целое от -128 до 127</li>
    <li>short: хранит целое от -32768 до 32767</li>
    <li>int: хранит целое от -2147483648 до 2147483647</li>
    <li>long: хранит целое от –9 223 372 036 854 775 808 до 9 223 372 036 854 775 807. При присвоении значения большим числам необходимо добавлять L в конец:
    <code>long num = 2147483649L</code> (т.к. по умолчанию целочисленное значение это int и не может быть больше 2147483647)</li>
    <li>double: хранит дробное от ±4.9*10-324 до ±1.7976931348623157*10308</li>
    <li>float: хранит дробное от -3.4*1038 до 3.4*1038. При назначении тот же прикол, что и с long; java все дробные рассматривает как double, поэтому
    говорим ему, что это float: <code>float fl = 30.6F;</code></li>
    <li>char: хранит одиночный символ в кодировке utf-16</li>
</ul>
<h1 id="nb_types">Не базовые типы</h1>
<p>Все классы, не являющиеся базовыми. Для инициализации объекта класса MyClass необходимо указывать ключевое слово <code>new</code>:</p>
{{ code_block(new) }}
<h1 id="string">String</h1>
<p>String немного отличается. Он не является базовым типом, но при его инициализации не надо указывать слово new. Java использует string pool для
 хранения одинаковых строк. Если строка уже есть в пуле, то Java не создает объект, а дает ссылку на существующий. <code>String s = new String("hello");</code>
    создаст новый объект в памяти, не в пуле, и не будет равен <code>String s1 = String("hello");</code></p>
<h1 id="operators">Операторы</h1>
<h2 id="ints">Численные</h2>
<ul>
    <li>+: сложение</li>
    <li>-: вычитание</li>
    <li>*: умножение</li>
    <li>/: деление (учитывайте, что int / int > float)</li>
    <li>%: остаток</li>
    <li>++: увеличивает значение переменной на единицу. Если до переменной, то сначала увеличивается, потом присваивается, если после, то наоборот</li>
    <li>--: аналогично ++, только уменьшает на 1</li>
</ul>
<h2 id="booleans">Логические и условные</h2>
<ul>
    <li>==: равенство</li>
    <li>!=: неравенство</li>
    <li>&lt;: меньше</li>
    <li>&gt;: больше</li>
    <li>&lt;=: меньше или равно</li>
    <li>&gt;=: больше или равно</li>
    <li>|: или</li>
    <li>&amp;: и</li>
    <li>!: не</li>
    <li>^: исключающее или</li>
    <li>||: или, но если первое True, то второе не проверяется</li>
    <li>&amp;&amp;: и, но если первое False, то второе не проверяется</li>
</ul>
<h2 id="assignment">Присваивания</h2>
<ul>
    <li>=: присваивание</li>
    <li><code>a <i>sign</i>=b</code>: a присваивается a <i>sign</i> b</li>
</ul>