{% from 'utils/code_block.html' import code_block %}

<h1 id="main">Основные положения</h1>
<p>Java — оопшный платформонезависимый язык.</p>
<h1 id="run_code">Запуск скриптов</h1>
<p>особенность jav`ы состоит в том, что ее скрипты сначала компилируются
в байт-код, а затем выполняются специальной машиной (Java Virrtual Machine, JVM).
Это позволяет запускать код на разных платформах, протсо нужно под каждую платформу
написать работающий JVM</p>
<p>Получается, для работы скрипта нужны:</p>
<ul>
    <li>Компилятор, например, javac</li>
    <li>Сама JVM</li>
</ul>
<p>Эти два компонента объединены в JDK: java Development Kit. Существуют две популярные
реализации: свободная и от Oracle. </p>
<p>JDK от oracle можно скачать <a href="https://www.oracle.com/java/technologies/downloads/#jdk22-windows">здесь</a> (для windows)</p>
<p>После установки jdk установится и компилятор, и jvm. Как теперь запустить скрипт Program.java:</p>
<ol>
    <li>Скомпилировать его: <code>javac Program.java</code></li>
    <li>После этого создастся файл <code>*.class</code> с байт-кодом, нам надо запустить его: <code>java <i>класс который мы хотим запустить</i></code></li>
</ol>
<h1 id="ide">IDE</h1>
<p>На данный момент я использую ide от JetBrains: она доступна для скачивания
<a href="https://www.jetbrains.com/idea/download/">здесь</a>. Не перепутайте платную и
 community версии</p>
<h1 id="base">База для программы</h1>
<p>Т.к. java оопшный язык, для запуска нам нужен класс. В нем обязательно должен быть метод main,
    и этот клас должен быть публичным. В одном файле разрешен только один публичный класс. Пример работающей конфигурации:</p>
{{ code_block(base_example) }}
<h1 id="input_output">Ввод и вывод</h1>
<p>Для вывода используем System.out.println("some text")</p>
<p>Для вывода воспользуемся иным классом; импортируем его: <code>import java.util.Scanner;</code></p>
<p>Затем определим его объект: <code>Scanner in = new Scanner(System.in);</code></p>
<p>И будем пользоваться его методами: <code>int num = in.nextInt();</code></p>
<p><b>NB: nextInt считывает следующее число, но не считывает символ перевода строки. nextLine после nextInt будет пустым</b></p>