{% from 'utils/code_block.html' import code_block %}
{% from 'utils/content_table.html' import table %}
<h1 id="common">Общие положения</h1>
<p>Nginx — веб сервер. Умеет принимать и обрабатывать http-запросы</p>
<h1 id="install">Установка</h1>
<p>Для того, чтобы пользоваться nginx, установим его:</p>
<p><code>sudo apt update</code></p>
<p><code>sudo apt install nginx</code></p>
<h1 id="settings">Настройка сервера</h1>
<p>настройка сервера происходит в конфигурационном файле. В debian он лежит скорее всего в /etc/nginx/nginx.conf</p>
<p>Немного про синтаксис: файл nginx состоит из директив. Они бывают обычные, например:</p>
<p><code>include /etc/nginx/*.conf</code>: состоит из команды и параметров, разделенных пробелом, оканчивающихся ;</p>
<p>и блочные, например</p>
{{ code_block(block_dir) }}
<p>В файле обязательно должны присутствовать блочные директивы events, http, директива http должна содержать
    хотя бы одну блочную директиву server, которая должна содержать блочную директиву location</p>
<h2 id="usual">Настройки секций</h2>
<h3 id="main">Главная секция</h3>
<p>В nginx.conf есть главная секция, она пишется без скобок. В ней настраиваются глобальные опции</p>
{{ table(main) }}
<h3 id="events">events</h3>
<p>В секции events настраивается реакция nginx на входящие подключения</p>
{{ table(events) }}
<h3 id ="http">http</h3>
<p>В секции http настраиваются сами web сервера</p>
{{ table(http) }}
<h3 id="server">server</h3>
<p>В секции http настраивается секция server. Она отвечает за один конкретный веб-сервер. Можно сделать несколько
серверов, главное, чтобы они слушали разные адреса</p>
{{ table(server) }}
<h3 id="location">location</h3>
<p>Секция location отвечает за распределение контента. Она должна располагаться внутри секции server. Внутри одного server быть
несколько секция location.</p>
<p>Синтаксис: <code>location <i>address</i> {}</code></p>
<p>Как это работает: в address мы пишем начало uri запроса, по нему nginx определяет, какая секция location будет возвращать контент</p>
<p>Поясню на примере; пусть есть такая конфигурация:</p>
{{ code_block(location_ex) }}
<p>Пусть она слушает на 127.0.0.1:80 (буду писать host для краткости)</p>
<p>Запрос host/ya_pidor/gay_porn/cascada.html будет обрабатываться 3-ей секцией. (выбирается самое длинное совпадение с uri запроса)
Запрос host/ya_pidor/black_dicks.html будет обрабатываться 2-ой секцией (под третью уже не подходит, так как начало uri запроса и uri
3-егй секции location не совпадают). Запрос по типу host/anime_lesbian_sex будет обрабатываться 1-ой секцией, так как под все остальные он
не подходит. Да и в принципе символ / означает самое короткое uri, все запросы, которые не были обработаны какими-либо секциями location
свалятся сюда.</p>
<p>Директивы:</p>
{{ table(location) }}
<h1 id="end">Конец</h1>
<p>Вот в принципе и все, это простая настройка nginx сервера. Полезные статьи, которые можно почитать:</p>
<ul>
    <li>Тут пока нихуя нет, я еще не дописал статью, это заготовка</li>
</ul>