{% from 'utils/code_block.html' import code_block %}
{% from 'utils/content_table.html' import table %}
<h1 id="main">Основные положения</h1>
<p>Qt — технология, позволяющая писать ui для различных приложений. В данном руководстве я буду рассматривать конкретную реализацию Qt под
питон: библиотеку PySide6</p>

<h1 id="first_program">Первая программа</h1>
<p>В Qt для начала нужно создать приложение:</p>
<code>app = QApplication(sys.argv)  # или QApplication([]), если  мы не хотим принимать аргументов</code>
<p>Затем нужно определить окна и проч:</p>
<code>window = QLabel('im your first programm')</code><br>
<code>window.show()</code>
<p>Затем это приложение нужно ввести в цикл обработки событий:</p>
<code>app.exec()</code>
<p>Все, что после app.exec() выполняться не будет (это вечный цикл обработки пользовательского ввода).</p>

<h1 id="widgets">О виджетах</h1>
<p>Видимая часть приложения Qt в основном состоит из виджетов (окон). Виджет — это элемент графического интерфейса пользователя (GUI), с которым может взаимодействовать пользователь. У виджета есть две составляющие: его реальные позиции на экране, то, как его
 видит программа, и его отрисовка определенной функцией. Примерно как хитбокс и модель в играх.<br>
 В Qt есть множество встроенных виджетов, и в основном при написании вы будете переопределять классы существующих виджетов и их методы.
 Но можно создавать и свои собственные виджеты с собственной отрисовкой.</p><br>
<p>Советую прочитать разделы о координатах и иерархии виджетов, если следующие разделы будут вам непонятны.</p>
<p>Дальше о виджетах я буду рассказывать на конкретном примере приложения, которое считает клики</p>
<h2 id="QWidget">Виджет QWidget</h2>
<p>Все виджеты наследуются от этого класса, поэтому здесь расскажу о некоторых общих методах</p>
{{ table(QWidget) }}
<h2 id="main_window">Виджет QMainWindow</h2>
<p>В приложении должно быть главное окно. Это особый виджет, у него можно прописать футер и верхнюю меню-часть.</p>
<p>Давайте напишем наш кастомный класс главного окна</p>
{{ code_block(main_init) }}
<h2 id="QPushButton">Виджет QPushButton</h2>
<p>Добавим виджет, по которому будем кликать. Это будет виджет обычной кнопки: QPushButton</p>
{{ code_block(click_button) }}
<p>О простой кнопке рассказать больше толком нечего. Ее нужно создать с
 текстом и родителем, а затем привязать к функции, которая будет выполняться после клика</p>
<h2 id="QLabel">Виджет QLabel</h2>
<p>QLabel — важный виджет. Это виджет поля, в него можно вставить по сути, любой контент.
Видео, гиф, изображения, текст и проч. Мы воспользуемся им для вставки текста.</p>
<p>Таблица его полезных методов</p>
{{ table(QLabel) }}
<p>напишем виджет:</p>
{{ code_block(click_counter) }}
<h1 id="other_code">Допишем наш код:</h1>
<p>Давайте напишем кнопку сброса счета:</p>
{{ code_block(reset_count) }}
<p>И, конечно, не забываем прописать функции, к которым коннектятся кнопки:</p>
{{ code_block(back) }}
<p>Запустим приложение:</p>
{{code_block(start_app) }}

