@font-face {
    font-family: 'for_captions';
    src: url('../fonts/for_captions.ttf') format('truetype');
}
@font-face {
    font-family: 'for_text';
    src: url('../fonts/for_text.ttf') format('truetype');
}
html, body{
	margin: 0%;
	font-family: "for_text";
	font-size: 25px;
/*	background-color: #c8fafb;*/
}
.content {
	margin-left: 20%;
	float: left;
	padding-right: 30px;
	padding-left: 30px;
	width: 60%;
	background: #6be4fa;
	border-radius: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
}
h1 {
	text-align: center;
	font-family: 'for_captions';
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	max-height: 60px;
}
h2, h3 {
	font-family: "for_captions";
	font-size: 35px;
	text-align: center;
}
h3 {
    font-size: 30px;
}
.chapter_list {
	position: absolute;
	border-radius: 20px;
	background: #A0EEFC;
	margin-left: 2%;
	float: left;
	width: 13%;
	padding: 20px;
	font-family: "for_text";
	font-size: 30px;
}
.up{
    padding-top: 20%;
    position: fixed;
    text-align: center;
    width: 13%;
    font-size: 100px;
    margin-left: 85%;
    margin-right: 2%;
    height: 100%;
}
.up a{
    text-decoration: none;
}
a {
	color: black;
}
.up {
	float: right;
}

.html_reminder_table {
	margin: 10px;
/*	border-collapse:collapse;*/
	border: 3px black solid;
	border-radius: 10px;
/*	border-top-right-radius: 10px;
	border-top-left-radius: 10px;*/
}

.html_reminder_table td {
	border: 3px solid black;
	border-collapse: collapse;
}

ul {
    list-style-type: disc;
}

code{
    background: #66CDAA;
    border-radius: 5px;
}