{% from 'utils/code_block.html' import code_block %}
{% from 'utils/content_table.html' import table %}

<p>В этой главе будет рассказано про правила размещения виджетов, про их
  отображение (и про отрисовку) и про наследование.</p>
<h1 id="display">Отображение</h1>
<p>Начнем с того, что по сути дела у нас отображается только один виджет: window, так как
мы вызвали его метод .show(), который показывает виджет. Все остальные виджеты отображаются
потому что мы указали в их родителе отображающийся виджет:</p>
<code>main_window (отображается потому что main_window.show() ) ->
  central_widget (отображается потому что потомок main_window() ) -> остальные виджеты
(отображаются потому что потомки central_widget)</code>
<p>Поэтому важно соблюдать наследование, когда пишем код.</p>
<p>В следующем примере виджет label1 будет отображен, а label2 нет</p>
{{ code_block(bad_visible) }}

<h1 id="placement">Размещение</h1>
<p>Мы научились отображать виджеты. Теперь нам нужно научиться отображать их в нужном месте.
 Начнем с того, что для того, чтобы разместить виджет, нужны координаты его левого
 угла и размеры. Вроде можно пользоваться еще другими методами, но этот дефолтный,
и мы будем пользоваться им</p>
<p>Когда мы просто задаем родителя виджету, то виджет отобразится в (0; 0)
  в родительских координатах (не забывайте, что координаты в Qt начинаются в верхней
левой точке экрана, x идет вправо, а y вниз), а размер определится с помощью sizeHint()</p>
<p>Для того, чтобы изменить ситуацию, мы можем вызвать:</p>
<ul>
  <li><code>resize(QSize()|width, height)</code>: меняет размер виджета</li>
  <li><code>move(QPoint()|x, y)</code>: двигает виджет (его левый верхний угол) в заданную точку</li>
  <li><code>setGeometry(QSize(), QPoint()|width, height, x, y)</code>: полностью поменять
    геометрию виджета. И размер, и позиционирование</li>
</ul>
<p>Не забывайте, что мы все делаем в родительских координатах.</p>
<p>Для получения параметров геометрии виджета воспользуемся этими методами:</p>
<ul>
  <li><code>size()</code>: для размеров</li>
  <li><code>pos()</code>: для верхней левой точки</li>
  <li><code>geometry()</code>: для геометрии</li>
</ul>
<h1 id="layout">Layout`ы</h1>
<p>Но иногда вручную располагать виджеты неудобно. Особенно когда мы делаем приложение
с растягиваемыми окнами. В таком случае на помощь приходят layout`ы.
  Они занимают всю область предоставленного им виджета и следят за расположением
дочерних виджетов самостоятельно. Существуют несколько видов компоновщиков (layout`ов)</p>
<ul>
  <li><code>QVBoxLayout</code>: вертикальный компоновщик</li>
  <li><code>QHBoxLayout</code>: горизонтальный компоновщик</li>
  <li><code>QGridLayout</code>: сеточный компоновщик</li>
</ul>
<p>Компоновщик назначается виджету с помощью метода setLayout(). Причем компоновщик
влияет только на дочерние виджеты, внутри дочерних виджетов можно устанавливать свои компоновщики</p>
<p>В компоновщик добавлять виджеты можно через метод layout.addWidget(QWidget())</p>
<p>Т.к. компоновщик сам решает, как размещать виджеты, методы, устанавливающие размер
и расположение виджета работать не будут. Однако, мы можем задавать некоторые правила
для компоновщика:</p>
<ul>
  <li><code>setMinimumSize(QSize()|width, height)</code>: задаем минимальный размер виджета</li>
  <li><code>setMaximumSize(QSize()|width, height)</code>: задаем максимальный размер виджета</li>
</ul>
<p>Эти методы также можно применять к высоте и ширине виджета (например, <code>setMaximumHeight()</code></p>
<ul>
  <li><code>layout.addWidget(widget, alignment=Qt.Alignment)</code>: при добавлении виджета можем указать его выравнивание</li>
  <li><code>layout.setSpacing(px)</code>: задаем расстояние между виджетами</li>
  <li><code>layout.setContentsMargins(left, top, right, bottom)</code>: задаем отступы от краев родителя</li>
</ul>
<h1 id="painting">Отрисовка</h1>
<p>Теперь немного духоты про отрисовку и разницу между виджетами и их видимой составляющей.</p>
<p>когда я рассказывал про размещение виджета, у вас смог возникнуть вопрос: а почему мы всегда
 устанавливаем геометрию виджета, как будто это прямоугольник? Так вот: виджеты в Qt <b>всегда</b>
 прямоугольники. Однако их видимая форма может быть любой. Помните про разницу между виджетом
и его отображением?</p>
<p>В Qt за отображение отвечает метод widget.paintEvent(). Он рисует отображение только в границах виджета.
Если отрисовка выйдет за границу, она не будет отображаться.</p>
<p>То же самое касается и дочерних виджетов: если в окне размером <code>300х300</code>
попытаться сдвинуть дочерний виджет в <code>(600; 600)</code> он не отобразится,
  так как будет за пределами родителя.</p>
