{% from 'utils/code_block.html' import code_block %}
{% from 'utils/content_table.html' import table %}
<p>SSH — это протокол, позволяющий управлять компьютером (сервером) удаленно.</p>
<h1 id="theory">Немного теории</h1>
<p>Для того, чтобы установилось соединение, клиент должен постучаться на сервер, причем по определенному порту,
    который слушает демон ssh (22 по дефолту). Затем демон ssh должен проверить, можно ли давать клиенту доступ к пк. Доступ получить
    можно двумя способами: через пароль (мы подключаемся от имени определенного пользователя, существующего на устройстве сервера.
    и нам достаточно ввести его пароль) или через пару ключей.</p>
<p>Если с паролем все понятно +-, то про пару ключей я расскажу подробней. У клиента есть приватный ssh ключ. Его нельзя никому давать.
    При генерации приватного ключа вместе с ним генерится публичный ключ. Публичный ключ нужно предварительно загрузить на сервер. По нему сервер определяет, можно ли доверять
    клиенту (сервер шифрует число через публичный ключ, отправляет его клиенту, клиент расшифровывает его и отправляет серверу, если
    присланное число совпадает с отправленным, то соединение устанавливается, вроде это так реализовано)</p>
<h1 id="key_gen">Генерация ключа</h1>
<h2 id="windows_keygen">Windows</h2>
<p>Для того, чтобы сгенерировать ключи на винде, я использую программу puTTYgen. Там довольно просто разобраться, тк есть графический интерфейс.
Единственно, она генерит приватный ключ в определенном формате, и в таком формате он может использоваться при подключении только
    через сам путти. Однако, его можно конвертировать в обычный приватный ключ в той же проге.</p>
<p>UPD 08.05025: при создании ключа придется вручную копировать публичный ключ: </p>
<img src="{{ url_for('static', filename='imgs/ssh_keys_putty.jpg') }}">
<p>Если этого не сделать, а сохранить публичный ключ через интерфейс, все пойдет по пизде</p>
<p>Кроме того, можно создать пару ключей при помощи команды ssh-keygen. Вот некоторые ее параметры:</p>
{{ table(ssh_keygen) }}
<p>Итоговая команда, которой я обычно создаю пару ключей, выглядит так:</p>
<p><code>ssh-keygen -m PEM -t rsa -b 4096 -f <i>path/to/catalog/private_key</i></code></p>
<h2 id="linux_keygen">Linux</h2>
<h1 id="setup_server">Настройка сервера</h1>
<div class="NB">
    <ol>
        <li>Понятно, что сервер настраивать будем на linux, потому что настраивать ssh сервер на винде это пизда.</li>
        <li>Здесь я расскажу про настройку на debian, но на других дистрибутивах, я думаю, не сильно отличается</li>
    </ol>
</div>
<p>Не забываем, что для начала, возможно, придется установить ssh: <code>apt install ssh</code></p>
<p>После этого идем настраивать сервер. Настройка осуществляется в файле конфигов etc/ssh/.sshd_config. Сама настройка будет осуществляться
в том, что мы просто меняем значения напротив полей. Потом, естественно, не забываем перезагрузить sshd:
<code>systemctl reload sshd</code></p>
<p><b>NB: в той же директории лежит файл ssh_config. Это настройка клиента, его не трогать, если настраиваем сервер</b></p>
<p><b>NB2: во-первых, стоит создавать резервные копии, перед тем как что-то менять на всякий случай, во-вторых, менять все надо
очень аккуратно, в ином случае можно потерять доступ к серверу</b></p>
<p>Ниже приведена таблица, в которой расписано, за что отвечают некоторые поля.</p>
<p>Подробную инфу можно посмотреть в <code>man sshd_config</code>.</p>
{{ table(sshd_configs) }}
<p>Для того, чтобы подключаться по паре ключей, нужно в файл, указанный в AuthorizedKeys закинуть публичные ключи.</p>
<p><b>NB: у ssh все строго с безопасностью и правами, поэтому лучше на все (файл публичных ключей, вся директория публичных ключей, файл настройки демона)
    ставить права 700, а то и 600</b></p>
<h1 id="setup_client">Настройка клиента</h1>
<h2 id="windows_client">Windows</h2>
<p>Для винды существует графическая прога putty, в которой много прохаванных настроек, но я предпочитаю использовать встроенный в командную строку ssh клиент.</p>
<p>Его синтаксис:</p>
<code>ssh -p <i>port</i> -i <i>path_to_private_key</i> user@address</code>
<h2 id="linux_client">Linux</h2>
