{% from 'utils/code_block.html' import code_block %}
{% from 'utils/content_table.html' import table %}
<h1 id="ifort_installation">Установка компилятора и запуск программы</h1>
<p>Мы будем пользоваться компилятором fortran от intel. (ifort или его более новая версия ifx). Установим его:</p>
<ol>
    <li>Перейдите по <a href="https://www.intel.com/content/www/us/en/developer/tools/oneapi/fortran-compiler-download.html?operatingsystem=windows&distribution-windows=offline">
        этой</a> ссылке и установите компилятор, выбрав нужные параметры (скорее всего вам необходим компилятор для windows, offline версии. <br>
    Для того, чтобы скачать компилятор, нажмите <b>Continue as a Guest (download starts immediately) →</b><br>
    Либо вы можете скачать оффлайн установщик для windows прямо с этого сервера по <a href="/vagray/downloads/fortran_compiler.exe">этой ссылке</a></li>
    <li>Вы скачаете файл. Это программа установки компилятора. Вам нужно запустить ее. Программа предложит распаковать временные файлы, можете распаковать
     их в любую директорию, они все равно потом удалятся. Затем начнется сам процесс инсталляции. Выберите установку по умолчанию, если не хотите
    париться насчет установки, или выберите компоненты (там можно убрать интеграцию с visual studio, запретить передачу информации о нас и прочее)</li>
    <li>После того, как установка пройдет, можете закрыть окно. Теперь в ваших приложениях появится что то вроде <b>Intel oneAPI command prompt for Intel 64</b>. Откройте его.
    Это особая версия командной строки, выглядит примерно так:
    <img src="{{ url_for('static', filename='imgs/Intel_ONEAPI_cli.png') }}"></li>
    <li>Затем перейдите в вашу директорию с проектом командами <b>cd</b>. Например, в моем случае команда перехода в рабочую директорию выглядела бы так:
    {{ code_block("cd C:\\Users\\seven\\Documents\\Vagray\\my_work") }}</li>
    <li>Для компиляции файла (создание .exe) выполните (введите в командную строку и нажмите <b>enter</b>)</li>
    {{ code_block("ifort <i>ваш_скрипт.f</i> -o <i>создаваемый_exe_файл.exe</i>") }}
    <li>Это создаст .exe в вашей рабочей директории, можете запускать его. Это и будет исполняемый файл вашей программы</li>
</ol>
<h1 id="extra">Примечания</h1>
<ul>
    <li>Вы в принципе можете не переходить в рабочую директорию, а указать абсолютное имя скрипта и абсолютное имя программы. Например, в моем случае
    следующая команда сработала бы, если бы я не менял директорию:
    {{ code_block("ifort C:\\Users\\seven\\Documents\\Vagray\\my_work\\vagin_changed_formats.f <br>-o C:\\Users\\seven\\result.exe") }}
        Она создала бы исполняемый <code>result.exe</code> в моей директории пользователя (<b>C:\Users\seven</b>)</li>
    <li>Вы можете использовать не компилятор ifort, а его более новую версию: ifx. Для этого в команде компиляции замените <code>ifort</code> на <code>ifx</code>
    {{ code_block("ifx <i>ваш_скрипт.f</i> -o <i>создаваемый_exe_файл.exe</i>") }}</li>
</ul>